<div class="contenedor">

  <nav class="navbar ">
    <div class="container">
      <a class="navbar-brand" href="#">
        <h1>Productos Angular</h1>
      </a>
    </div>
  </nav>

  <app-navbar></app-navbar>

  <div class="card">    
    <div class="card-body">
      <h5 class="card-title">Webapp de productos con Angular</h5>
      <p class="card-text">Gestiona tus productos con la apliacion web SPA creadad con Angular</p>
      <div class="botones">
        <a href="#" class="btn btn-primary">Ver Productos</a>
        <a href="#" class="btn btn-success">Añadir Productos</a>
      </div>      
    </div>
  </div>
</div>